@charset "UTF-8";
body{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color:rgb(31, 110, 84);
    background-color:lightblue;
}
h2{
    color:blueviolet;
}
p{
    text-align: justify;
}